@use 'reset';

$color-primary:  #023448;
$color-primary1: #7a60ff;
$color-black: #090909;
$color-white: #ffffff;
$color-grey: #a0a0a0;
$color-light-grey: #f3f3f3;
$color-dark-grey: #353535;
$color-purple: purple;
$color-green: #08805b;
$color-blue: #0074a7;
$color-yellow: #f5f552;
$color-red: #e42323;

$font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-smaller: 1.3rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-x-large: 2.7rem;
$font-size-xx-large: 3.0rem;
$font-size-xxxx-large: 4.3rem;

$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;


$line-height-small: 1.2;
$line-height-base: 1.5;
$line-height-big: 1.8;

// Border
$border-width-thin: 1px;
$border-width-medium: 2px;
$border-width-thick: 3px;

$border-radius-none: 0;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$border-radius-circle: 50%;

$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.15);
$box-shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.2);

$transition: .2s linear !important;

/*footer */
$footer-margin-top: 10px 0 0 0;

// Define CSS Variables
:root {
  /* Colors */
  --color-primary: #{$color-primary};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-grey: #{$color-grey};
  --color-light-grey: #{$color-light-grey};
  --color-dark-grey: #{$color-dark-grey};
  --color-purple: #{$color-purple};
  --color-green: #{$color-green};
  --color-blue: #{$color-blue};
  --color-yellow:#{$color-yellow};
  --color-red: #{$color-red};
  
  /* Text */
  --text-color: var(--color-black);
  --valid-color: var(--color-green);
  --error-color: var(--color-red);

  /* Font Families */
  --font-family-base: #{$font-family-base};
  --font-family-title: #{$font-family-title};

  /* Font Sizes */
  --font-size-smaller: #{$font-size-smaller};
  --font-size-small: #{$font-size-small};
  --font-size-medium: #{$font-size-medium};
  --font-size-large: #{$font-size-large};
  --font-size-x-large: #{$font-size-x-large};
  --font-size-xx-large: #{$font-size-xx-large};
  --font-size-xxxx-large: #{$font-size-xxxx-large};
  --font-size-html-small: 60%;
  --font-size-html-smaller: 58%;

  /* Font Weights */
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};

  /* Line Heights */
  --line-height-small: #{$line-height-small};
  --line-height-base: #{$line-height-base};
  --line-height-big: #{$line-height-big};

  /* Sections */
  --section-padding: 5rem 0;
  --section-header-padding: 0 0 3rem;
  --section-margin-bottom: 0 0 2rem;
  --section-title-font-size: var(--font-size-xx-large);
  --section-title-font-size-xxxx: var(--font-size-xxxx-large);
  --section-title-font-weight: var(--font-weight-bold);
  --section-title-line-height: var(--line-height-small);
  --section-title-color: var(--color-black);
  --section-tagline-color: var(--color-primary);
  --section-header-align: center;

  /* Header */
  --header-padding: 1.2rem 1.5rem;

  /* Footer */
  --footer-padding: 5rem 0 2rem;
  --footer-margin-top: var($footer-margin-top);

  /* Navbar */
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-margin: 0 0 0 2rem;
  --nav-item-margin-small: 0 0 0 2rem;
  --nav-item-padding-small:0 1.8rem 0 0;
  --nav-item-padding-large:0 2.5rem 0 0;

  /* Buttons */
  --button-display: inline-block;
  --button-padding: 1.5rem 3rem;
  --button-padding-small: 0.7rem 2rem;
  --button-border: #{$color-blue} solid 0.2rem;
  --button-color: var(--color-black);
  --button-hover-color: var(--color-white);
  --button-hover-background: var(--color-blue);

  /* Borders */
  --border-width-thin: #{$border-width-thin};
  --border-width-medium: #{$border-width-medium};
  --border-width-thick: #{$border-width-thick};

  --border-radius-none: #{$border-radius-none};
  --border-radius-small: #{$border-radius-small};
  --border-radius-medium: #{$border-radius-medium};
  --border-radius-large: #{$border-radius-large};
  --border-radius-circle: #{$border-radius-circle};

  /* Box Shadows */
  --box-shadow-light: #{$box-shadow-light};
  --box-shadow-medium: #{$box-shadow-medium};
  --box-shadow-heavy: #{$box-shadow-heavy};

  /* Motion */
  --transition-effect: var(var(--transition-effect));
}


*{
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);


    &::selection{
        background-color: var(--color-black);
        color: var(--color-yellow);
    }


    &::-webkit-scrollbar{
        height: 0.5rem;
        width: 1rem;
        background-color: transparent;
    }


    &::-webkit-scrollbar-thumb{
        background-color: var(--color-yellow);
    }
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
body{
    overflow-y: scroll;
    transition: 0.2s linear !important;
}



/* html Media Query */
@media (max-width: 767px) {
    html {
        font-size: var(--font-size-html-small);
    }
}

@media (max-width: 480px) {
    html {
        font-size: var(--font-size-html-smaller);
    }
}

a{
    color: var(--color-black);
}

/* NAVIGATION BAR */
header {
  .header-container {
    display: flex;
    flex-direction: column;
    /*search for */
    .search-form {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 1rem;
      margin-right: 5rem;
      input[type="text"] {
        font-size: var(--font-size-medium);
        opacity: 0.8;
        border-bottom: 1px solid var(--color-black);
        height: 3.5rem;

        &:focus {
          border: 1px solid var(--color-blue);
          border-radius: 10px;
          padding: 1rem 1rem;
        }

        &::placeholder {
          font-size: var(--font-size-medium);
          color: var(--color-gray); 
          padding: 1.2rem 1.2rem;
        }

        &:focus::placeholder {
          color: var(--color-light-blue);
          opacity: 0.8; 
        }
      }

      button {
        font-size: var(--font-size-medium);
        background-color: var(--color-white);
        position: absolute;
        margin-left: 250px;
      }
    }
    .socialicons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: var(--color-blue);
      padding: var(--header-padding);
      p {
        cursor: pointer;
        color: var(--color-yellow);
        padding: var(--nav-item-padding-large);
        font-size: 1.1rem;
        font-weight: var(--font-weight-bold);
      }

      a {
        cursor: pointer;
        text-decoration: none;
        color: var(--color-white);
        padding: var(--nav-item-padding-small);
        font-size: var(--font-size-large);
        transition: transform 0.2s linear !important;
        &:hover{
          transform: scale(1.20);
        }
      }
    }
    .super-sub-container{
      background-color: var(--color-white);
      border-bottom: 2px solid var(--color-blue);
      .sub-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 2rem 2rem 2rem 0;
        
        z-index: 1000;

        /*TRY FOR FREE CSS DESIGN */
        .try-for-free{
          display: inline-block;
          position: relative;
          margin-right: 2rem;
          
          a{
            font-weight: var(--font-weight-bold);
            outline: 1px solid var(--color-blue);
            padding: 1.2rem 1.2rem;
            animation: design 3s infinite ease-in-out;
            font-size: var(--font-size-small);
            border-radius: 10px;
            color: var(--color-white);
            background-color: var(--color-blue);
            transition: transform 0.3s ease;
            margin-right: 2rem;
          }
          @keyframes design {
            10%{
              background-color: var(--color-red);
            }
            30%{
              background-color: var(--color-purple);
            }
            50%{
              background-color: var(--color-green);
            }
            100%{
              background-color: var(--color-primary);
            }
          }
          
        }

        /* LOGO DESIGN */
        .logo-container {
          transition: .4s linear !important;
          .logo {
            cursor: pointer;
            font-size: var(--font-size-x-large);
            font-weight: var(--font-weight-regular);
            padding: 0 10px;
  
            
          }
          &:hover{
            transform: scale(1.05);
        }
        }
        
        /*MENU DESIGN */
        .menu {
          display: flex;
          cursor: pointer;
          gap: 2rem;
          transition: .3s linear !important;
          .sub-menu {
            a {
              font-size: var(--font-size-medium);
              position: relative;
  
              &::before {
                content: "";
                height: 0.3rem;
                width: 0;
                left: 0;
                bottom: -2px;
                position: absolute;
                transition: width 0.3s ease;
                background-color: var(--color-blue);
              }
  
              &:hover::before {
                width: 100%;
              }
            }
          }
  
          .main-menu {
            position: relative;
            font-size: var(--font-size-medium);
            display: inline-block;
            transition: .2s linear !important;
            .start-test {
              position: relative;
              
              a {
                padding: 0 0.3rem;
              }
  
              i {
                position: absolute;
                top: 3px;
              }
            }
            .dropdown{
                position: absolute;
                top: 100%;
                display: flex;
                flex-direction: column;
                min-width: 260px;
                background-color: var(--color-white);
                z-index: 1000;
                display: none;
                text-align: center;
                a{
                    padding: 1.4rem 0.5rem;
                    display: block;
                    color: var(--color-blue);
                    &:hover{
                        color: #32baf5;
                    }
                }
            }
            &:hover{
                
                i{
                    transform: rotate(180deg);
                }
                .dropdown{
                    display: block;
                }
            }
          }
          
        }
      }
  
      /* SIGNUP LOGIN */
      .signupLogin {
        padding: 0 10px;
        a {
          padding: 0 0.8rem;
          font-size: var(--font-size-medium);
          cursor: pointer;
        }
  
        .login {
          margin: 0 1.5rem;
  
          &:hover {
            color: var(--color-blue);
          }
        }
  
        .btn {
          outline: 1px solid var(--color-blue);
          background-color: var(--color-blue);
          color: var(--color-white);
          padding: 0.5rem 0.8rem;
          border-radius: 10px;
          transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  
          &:hover {
            color: var(--color-blue);
            background-color: var(--color-white);
          }
  
          &:active {
            background-color: var(--color-blue);
            color: var(--color-white);
          }
        }
      }

      #menu-toggle{
        font-size: var(--font-size-x-large);
        height: 3rem;
        position: relative;
        cursor: pointer;
        display: none;
        padding: 0 10px;
      }
    }
    
  }
}



@media (max-width: 960px){
  .header{
    .header-container{
      .super-sub-container{
        .sub-container{
          position: relative;
          .menu{
            display: none;
          }
          .signupLogin{
            display: none;
          }
          #menu-toggle{
            display: block;
          }
          .active{
            display: block;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 80px;
            color: white;
            z-index: 1000;
            background-color: var(--color-white);
            width: 100%;
            padding: 10px 10px;
            .start-test{
              position: relative;
              .dropdown{
                position: absolute;
                left: 100px;
                top: 0px;
                background-color: var(--color-blue);
                a{
                  color: var(--color-white);
                  &:hover{
                    color: rgb(230, 230, 230);
                  }
                }
              }
              i{
                color: var(--color-blue);
              }
            }
            a{
              color: var(--color-blue);
              
            }
          }
        }
      }
    }
  }
}


/* body container */
section{
    max-width: 960px;
    margin: 0 auto;
}


.about-section{
    background-color: var(--color-blue);
    min-height: 400px;
    .container{
        .row{
            .about-text{
                h3{
                    font-size:var(--font-size-x-large);
                    color: var(--color-white);
                }
                p, span{
                  font-size: var(--font-size-small);
                    color: var(--color-white);
                }
                span{
                    font-weight: var(--font-weight-bold);
                    text-transform: uppercase;
                }
            }
            .about-image{
                img{
                    border-radius: 50%;
                    border: 5px solid var(--color-white)
                }
            }
        }
    }
}


/* BUTTON CSS */
button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}


.primary-button{
  outline: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  font-size: var(--font-size-small);
  padding: 10px;
  width: 100px;
  margin: 15px auto;
  cursor: pointer;
  &:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
  }

  &:active {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}

/* sections header text */
.header-text{
    h3{
        text-align: center;
        span{
            font-size: var(--font-size-large);
            position:relative;
            display: inline-block;
            cursor: pointer;
            &::before{
                content: "";
                width: 0;
                height: 0.3rem;
                position:absolute;
                background-color: var(--color-blue);
                transition: width .3s linear;
                left: 0;
                bottom: 0;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
}

/* Helpers
      ============================= */
  
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
/*TESTIMONIALS */
.testimonials{
    
    .container{
        margin-top: 5rem;
       
        .row{
            
            .testimonialone{
              margin: -0.1rem 0 2rem 0;

                img{
                    border-radius: 50%;
                }
                p{
                    font-size: var(--font-size-small);
                }
                h6{
                    color: var( --color-red);
                    font-style: italic;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

/*LATEST NEWS */

.latest-news {
  .latestnewsitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
    padding: 1rem;
    margin-bottom: 1.5rem; 
    

    img {
      width: 100%; 
      height: auto; 
      object-fit: cover; 
    }
    
    p {
      font-size: var(--font-size-small);
      margin: 1rem 0;
    }

    a.primary-button {
      text-decoration: none;
      background-color: var(--color-blue);
      color: var(--color-white);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-dark-blue);
      }
    }
  }
}

/** SIGN UP **/
.signup{
   
    .form-container{
      
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      width: 100%;
      padding: 0 10px;
      background-color: #333;
    .form-row{
      margin: 20px 0;
      width: 400px;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 2rem;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      .header-text{
        font-variant: small-caps;
        text-align: center;
        h2{
          color: var(--color-white);
        };
        p{
          font-size: var(--font-size-small);
          a{
            color: var(--color-blue);
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .para{
          font-size: 1.2rem;
          a{
            color: var(--color-blue);
          }
        }
        h1{
          color: var(--color-white);
          font-size: var(--font-size-x-large);
        }
        h3, p{
          color: var(--color-white);
          span{
            color: var(--color-white);
            font-weight: var(--font-weight-bold);
          }
        }
        
      }
      
      .form-group-container{
        .form-group{
          margin-bottom: 1.2rem;
          color: var(--color-white);
          .para{
            text-align: center;
            color: var(--color-white);
          }
          .momo-amount{
            color: var(--color-white);
            font-size: var(--font-size-small);
          }
          h1{
            color: var(--color-white);
          }
          hr{
            color: var(--color-white);
            border: 1px solid var(--color-white);
          }
          .form-field{
            .red-text{
              color: red;
              font-size: 1.2rem;
            }
            
            p{
              color: var(--color-white);
              font-size: 1.2rem;
              margin-top: 1rem;
              
            }
            .message{
              width: 100%;
              font-size: var(--font-size-small);
              padding: 0 10px;
              text-transform: lowercase;
            }
            
            .form-field-container{
              .your-momo-pay{
                padding: 1.2rem 1.2rem;
                background-color: var(--color-blue);
                color: var(--color-white);
                cursor: pointer;
                &:hover{
                  color: var(--color-blue);
                  background-color: var(--color-white);
                }
              }
            }
          }
          
          input[type="text"],
          input[type="email"],
          
          select{
            width: 100%;
            padding: 1.4rem 2rem;
            text-transform: lowercase;
            font-size: var(--font-size-small);
            margin-bottom: 1.2rem;
          }
          input[type="password"]{
            width: 100%;
            padding: 1.4rem 2rem;
            font-size: var(--font-size-small);
            margin-bottom: 1.2rem;
          }
          label{
            color: var(--color-white);
            font-size: var(--font-size-small);
          }

          .primary-button{
            width: 100%;
          }
        }
        .form-group-login{
          display: flex;
          align-items: center;
          justify-content: space-between;
          p{
            color: var(--color-white);
            font-size: 1.2rem;
            
            a{
              color: var(--color-blue);
              
              &:hover{
                text-decoration: underline;
              }
            }
          }
          a{
            p{
              color: var(--color-blue);
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        .form-group-contact{
          p, a{
            color: var(--color-white);
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-bold);
          }
          a{
            color: var(--color-blue);
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


/*footer section */

.footer-section{
  background-color: var(--color-blue);
  position:relative;
  bottom: 0;
  left:0;
  width: 100%;
  padding: 5rem 1.2rem 1.2rem 1.2rem;
  .footer{
    .footer-credit-subcontainer{
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid var(--color-white);
      margin-top: 1.2rem;
      padding-top: 1.0rem;
      .credit{
        .credit-para, .credit-span{
          font-size: var(--font-size-smaller);
        }
        .credit-span{
          color: var(--color-white);
          font-style: italic;
        }
        a{
          color: var(--color-white);
          &:hover{
            text-decoration: underline;
          }
          
        }
      }
      
    }
    .safe-policies{
      display: flex;
      flex-direction: row-reverse;
      a{
        margin-left: 1.2rem;
        font-size: var(--font-size-smaller);
        color: var(--color-white);
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


.footer-sect{
  position:relative;
  bottom: 0;
  right: 0;
  .footer-logged{
    p{
      float: right;
      margin: 1rem;
    }
    
  }
}


.works{
  padding: 20px;
  margin-top: 6rem;
  .works-content{
    margin-top: 2rem;
    .single-how-works{
      text-align: center;
      border-radius: 3px;
      color: var(--color-white);
      box-shadow: 5px 5px 5px rgba(71,71,71,.2);
      margin-bottom: 2rem;
      padding-bottom: 1.5rem;
      transition: .3s linear !important;

      h3{
        color: var(--color-black);
        font-size: var(--font-size-large);
      }
      &:hover{
        transform: scaleY(1.05);
      }
    }
  }
}




.single-how-works-picture {
    display: inline-block;
    color: #50616c;
    width: 100%;
    height: 40px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
}
.single-how-works h2 a {
    font-size:  var(--font-size-medium);
    margin: 10px 0 10px;
}
.single-how-works h2 a span {
  text-transform:  lowercase;
}
.single-how-works p {
  margin-bottom: 15px;
  text-transform: initial;
}


.welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
}

/*PRIVACY POLICY */
.policyterms-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  a{
    text-transform: lowercase;
  }
  h1, h2, h3, h4, h5, h6, ul li{
    line-height: 1.4;
  }
  h1{
    font-size: var(--font-size-xx-large);
    color: var(--color-blue);
  }
  h2{
    font-size: var(--font-size-x-large);
    margin: 20px 0 2px 0;
    
  }
  h3{
    font-size: var(--font-size-large);
    margin-top: 1rem;
  }
  p, ul li{
    font-size: 1.5rem;
    color: rgb(60, 60, 60);
  }
}


/* LATEST NEWS PAGE */
.latestnews{
  .header{
    display: flex;
    flex-direction: column;
    .latest-header-one{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      p{
        font-size: 1.2rem;
        margin: 0 10px;
        text-decoration: none;
        a{
          color: var(--color-blue);
          text-decoration: none;
          
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .latest-header-title{
      p{
        text-align: center;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
      }
    }
    .latest-header-two{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--color-black);
      padding: 1.4rem;
      margin-top: 2rem;
      background-color: var(--color-blue);
      .nextprev{
        display: flex;
        gap: 2rem;
        a{
          font-size: 1.4rem;
          color: var(--color-white);
        }
      }
      .social{
        p{
          display: inline-block;
        }
        a, p{
          color: var(--color-white);
          font-size: 1.2rem;
        }
        a{
          cursor: pointer;
          font-size: 1rem;
          margin-right: 1.2rem;
        }
      }
    }
  }
  .text-container{
    margin: 20px auto;
    .text-row{
      h4{
        font-size: var(--font-size-medium);
        margin-top: 1.4rem;
        font-weight: var(--font-weight-bold);
      }
      p{
        font-size: var(--font-size-small);
        line-height: 2;
      }
      img{
        float: left;
        margin: 10px;
      }
    }
  }
}

/*Disabled Link */
.disabled{
  cursor: not-allowed;
  opacity: 0.4;
  text-decoration: none;
}

/* loggedinpage */
.loggedheader{
  .header-container{
      display: flex;
      border-bottom: 1px solid black;
      position: fixed;
      top: -1rem;
      padding: 3rem 0 2rem 1rem;
      z-index: 999;
      background-color: var(--color-white);
      border-bottom: 1px solid black;
      width: 100%;
      .header-container-sub{
        display: flex;
        align-items: center;
        gap: 1rem;

        > *{
          font-size: var(--font-size-large);
          cursor: pointer;
        }
      }
    
    .header-menu{
      display: inline-block;
      i{
        margin: 2rem 1rem 2rem 2rem;
        font-size: var(--font-size-large);
        cursor: pointer;
      }
      a{
        font-size: var(--font-size-large);
      }
    }
  }
  .menu-items{
    position: fixed;
    top: 6rem; 
    left: 0;
    height: 100vh;
    background-color: var(--color-white);
    width: 20rem;
    border-right: var(--border-bold);
    padding: 1rem 1rem;
    display: flex;
    gap: 2rem;
    flex-flow: column;
    transition: 0.2s linear !important;
    z-index: 99;
    border-right: 1px solid var(--color-black);
    .user{
      display: flex;
      font-size: var(--font-size-medium);
      align-items: center;
      gap: 0.6rem;
      margin-top: 1.2rem;
      cursor: pointer;
      p{
        &:hover{
          color: var(--color-blue);
        }
      }
    }
  }
}

/*logged in page home */
.scores {
  margin-top: 10rem;
  min-height: 100vh;

  .containerscores {
    .rowscores {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      /*RESULTS CHECKING PAGE */
      a{
        font-size: var(--font-size-x-large);
        color: var(--color-red);
        &:hover{
          text-decoration: underline;
        }
      }
      .column {
        flex: 1 1 30rem;
        /* Outer column border */
        padding: 20px;
        margin: 20px;

        .column-score-header {
          border: 5px solid green; 
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 2rem;
          transition: border .2s linear;
          font-size: var(--font-size-small);
          &:hover{
            border: 5px solid var(--color-blue); 
          }
          .averageMarks, .averageMarksPercent{
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-bold);
          }
        }
        .column-tests{
          border: 1px solid black;
          padding: 2rem;
          .tests {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            border-bottom: 1px solid rgb(150, 150, 150);
            padding-bottom: 20px;
            .test,  .testscore, .percentscore{
              font-weight: var(--font-weight-bold);
              font-size: var(--font-size-medium);
              color: var(--color-red);
            }
            .title {
              font-size: var(--font-size-medium);
            }
  
            p {
              font-size: var(--font-size-small);
            }
          }
        }
        
      }
    }
  }
}


/*menu toggle for logged in page */
.menu-items.menutoggle{
    left: -35rem;
}


/*QUIZ PAGE */
.header{
  .headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem auto;
    width: 90%;

    p{
      font-size: var(--font-size-large);
    }
  }
}

.maincontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  .quizContainer{
    padding: 2rem;
    margin: 2rem;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;
    .navigation{
      .before{
        margin: 2rem 2rem 2rem 0;
      }
      .before, .next, i{
        font-size: var(--font-size-medium);
        padding: .6rem;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 10px;
      }
      .before, .next{
        &:hover{
          color: var(--color-blue);
          background-color: var(--color-white);
          outline: 1px solid var(--color-blue);
        }
      }
    }
  }
}

.question-wrapper{
  margin-bottom: 50px;

  .question-text{
    margin-bottom: 0.5rem;
    text-transform: none;
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    line-height: 2;
    .question-number{
      font-weight: var(--font-weight-bold);
    }
  }
  .options-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: 2rem;
    margin-top: 1rem;
    .options{
      margin-bottom: 2rem;
      position: relative;
      top: 2px;
    }
    input[type="radio"]{
      position: absolute;
      left: -2rem;
      font-size: var(--font-size-large);
      width: 2rem;
    }
    .option-label{
      font-size: var(--font-size-small);
      margin-top: -2rem;
    }
  }
}

@media (max-width: 480px){
  .question-wrapper{
    .options-container{
      top: 0px;
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
  }
}

/*TRUE OR FALSE AND OTHER INSTRUCTIONS*/
.true-false{
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.instructions{
  font-size: var(--font-size-small);
  font-style: italic;
  margin-bottom: 10px;
}

.result{
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitText{
  font-size: Var(--font-size-small);
}
.submitresults{
  margin-top: 1rem;
  font-size: var(--font-size-medium);
  padding: 1rem;
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-blue);
  &:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: 1px solid var(--color-blue);
  }
  &:active{
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}


.resultContainer{
  max-width: 960px;
  margin: 2rem auto;
  border: 1px solid rgb(90, 90, 90);
  padding: 2rem;
  border-radius: 10px;
  .returnback{
    margin: 2rem auto;
    margin: 2rem;
    font-size: var(--font-size-large);
    color: var(--color-blue);
    .try-for-free{
      text-align: center;
      color: var(--color-white);
      background-color: var(--color-blue);
      outline: 2px solid var(--color-blue);
      padding: 1.2rem 1.2rem;
      animation: design 1s linear infinite;
    }
    @keyframes design {
      10%{
        background-color: var(--color-purple);
      }
      50%{
        background-color: var(--color-grey);
      }
      100%{
        background-color: var(--color-green);
      }
    }
    &:hover{
      text-decoration: underline;
      color: var(--color-blue);
    }
    
  }
  .quizresults{
    h1{
      text-decoration: underline;
    }
    .testresult{
      p{
        font-size: var(--font-size-medium);
      }
    }
  }
}

/*check results page */
